.tiptap {
  > * + * {
    margin-top: 0.75em;
    color: black;
    text-wrap: wrap;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  h1,
  h2 {
    line-height: 1.1;
  }

  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0d0d0d, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0d0d0d, 0.1);
    margin: 2rem 0;
  }
}
